{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe{% endblock %}

{% block body %}

    <div class="container clearfix">
        <div class="alert alert-light">
            <h1 class="my-5">Modification du mot de passe</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}

             <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i>
                    Enregistrer les modifications
            </button>
            <a href="{{ path('account_index') }}" > <input type="button" class="btn btn-primary float-right" onclick="window.location.href='this.parentNode.href.value" value="Retour à mon profil" /></a>
            {{ form_end(form) }}
        </div>
    <br>
    <br>
    
    </div>

{% endblock %}